:root {
    /* Шаблон взято з інтернету + додано основні кольори (думаю не критично ) */
    --black: #000;                              
    --white: #fff;
    --basic_color: #2F303A;
    --sec_color: #2196F3;
    --grey: #757575;
    --none_black: #212121;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


html{

    box-sizing: border-box;
    font-size: 14px;
}

body{
    padding :0;
    margin:0;
    font-family: 'Roboto' , sans-serif;
    color: var(--black);
    font-style: normal;
    margin: 0 auto;
    font-weight: 400;
    line-height: normal;
}

a,button{
    font-family: inherit;
    text-decoration: none;
    color:inherit;
} 

button{
    cursor: pointer;
}

address{
    font-style: normal;
}

h1, h2 , h3 , h4 , h5 , h6 {
    padding: 0;
    margin:0;
    
}

ul ,li {
    display:block;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }


/*-----HEADER start------*/

.header{
    display: flexbox;
    width: 100%;
    border-bottom: 1px solid #EEE;
}
/*---NAVIGATION START---*/
.navigation{
    display: flex;
}
.navigation > li a  {
    text-decoration: none;
    font-size: 14px;
    color: var(--none_black);
    font-weight: 500;
    letter-spacing: 0.28px;   
    margin-right: 50px;
}

.navigation > li a:hover{
    color: var(--sec_color);
}
.navigation > li a:focus{
    color:var(--sec_color);
}

.mail:hover{
    color:var(--sec_color);
}
.mail:focus{
    color:var(--sec_color);
}
.tel:focus{
    color:var(--sec_color);
}
.tel:hover{
    color:var(--sec_color);
}

.header-contacts{
    margin-left: auto;
    display: flex;
    margin-right: 40px;
}

.mail{
    font-size: 14px;
    text-decoration: none;    
    color: var(--grey);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    margin-right: 40px;
}

.tel{
    font-size: 14px;
    text-decoration: none;
    color: var(--grey);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
}

.header > .container{
    display: flex;
    align-items: center;
    height: auto;
    flex-shrink: 0;
    min-height: 80px;
}

.logo {
    margin-right: 90px;
    color: var(--black);
font-family: Raleway;
font-size: 26px;
font-weight: 700;
letter-spacing: 0.78px;
text-decoration: none;
}
.logo span{
    color: var(--sec_color);
font-family: 'Raleway' , sans-serif;
font-size: 26px;
font-weight: 700;
letter-spacing: 0.78px;
}
/*---NAVIGATION END---*/

.bg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    background: var(--basic_color);
    row-gap: 30px;
    min-height: 600px;
    
}

.bgtext{
    max-width: 696px;
    font-size: 44px;
    font-weight: 900;
    line-height: 136.364%;
    color: var(--white);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2.64px;
  
}
.btn{
    color: var(--white);
    font-size: 16px;
    font-weight: 700;
    line-height: 187%;
    letter-spacing: 0.96px;
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    flex-shrink: 0;
    min-height: 50px;
}

.btn:hover{
    border: var(--sec_color);
}

.btn:focus{
    border: var(--sec_color) 2px;
}
/*-----HEADER end------*/

/*-----ABOUT start------*/
.nature{
    display: flex;
    justify-content: space-around;
    margin-top: 94px;
    margin-bottom: 94px;
}
.ph{
    color: var(--none_black);

    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    max-width: 270px;
}

.pt{
    color: var(--grey);
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.42px;
    max-width: 270px;
}
/*-----ABOUT end------*/

/*-----WORK start------*/
.photojob{
    margin-top: 50px;
    display: flex;
    margin-bottom: 188px;
}

.job-img{
  margin-right: 30px;  
}


/*-----WORK end------*/

/*-----STAFF start------*/
.staff{
    background: #F5F4FA;
    
}

.staffinfo{
    display: flex;
    
}

.stafftext{
    padding-top: 94px;
    margin-bottom: 50px;
}
.person{
    margin-right: 30px; 
    border-radius: 0px 0px 4px 4px;
    background: #FFF;
    margin-bottom: 94px;

/* material shadow v1 */
box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.jobtext , .stafftext {
    color: var(--none_black);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
}

.person-name{
    color: var(--none_black);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;
}

.person-job{
    color: var(--grey);
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.48px;
}
/*-----STAFF end------*/

/*-----FOOTER start------*/
.footerbg{
    width: 100%;
    padding: 60px 0;
    flex-direction: column;
    height: auto;
    flex-shrink: 0;
    background: #2F303A;
    min-height: 251px;
}

.footer-info{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.address{
    color: var(--white);
    font-size: 14px;
    line-height:114%;
    letter-spacing: 0.42px;
}

.email-footer{
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.42px;
}

.tel-footer{
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.42px;
}

.footer-logo{
    margin-bottom: 28px;
}
.logo-footer{
    margin-right: 90px;
    color: var(--white);
    font-family: 'Raleway' , sans-serif;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
    text-decoration: none;
}

.logo-footer span{
    color: var(--sec_color);
    font-family: 'Raleway' , sans-serif;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
}
/*-----FOOTER end------*/


/*-----PORTFOLIO-----*/

/*----FILTERS start*/
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.navbar li button.pbtn {
    color: #212121;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 162%;
    letter-spacing: 0.48px;
    border-radius: 4px;
    background: #F5F4FA;
    border-style: none;
    width: 125px;
    min-height: 38px;
    height: auto;
    flex-shrink: 0;
    margin-right: 8px;
    margin-top: 94px;
    margin-bottom: 54px;
}

ul.navbar li button.pbtn:hover{
    color: var(--white);
    border-radius: 4px;
    background: var(--sec_color);
}

ul.navbar li button.pbtn:focus{
    color: var(--white);
    border-radius: 4px;
    background: var(--sec_color);
}
/*----FILTERS end*/

/*----GRID start----*/


.portfolios{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 370px);
    grid-template-rows: repeat(3, 1fr);
}

.portfolios-item{
    margin-bottom: 94px;
    border: 1px solid #EEE;
}
.pname{
    color: var(--none_black);
    font-size: 18px;
    font-weight: 700;
    line-height: 200%;
    letter-spacing: 1.08px;
    width: 322px;
    padding-left: 24px;
}

.cat{
    color: var(--grey);
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.48px;
    width: 322px;
    padding-left: 24px;
}




/*----GRID end----*/

