:root {
    /* Шаблон взято з інтернету + додано основні кольори (думаю не критично ) */
    --black: #000;                              
    --white: #fff;
    --basic_color: #2F303A;
    --sec_color: #2196F3;
    --grey: #757575;
    --none_black: #212121;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


html{

    box-sizing: border-box;
    font-size: 14px;
}

p{
    margin: 0;
}

body{
    padding :0;
    margin:0;
    font-family: 'Roboto' , sans-serif;
    color: var(--black);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

a,button{
    font-family: inherit;
    text-decoration: none;
    color:inherit;
} 

button{
    cursor: pointer;
    border: 0;
}

address{
    font-style: normal;
    color: var(--white);
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.42px;
}

h1, h2 , h3 , h4 , h5 , h6 {
    padding: 0;
    margin:0;
    
}

ul ,li {
    display:block;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }


/*-----HEADER start------*/

.header{
    display: flexbox;
    width: 100%;
    border-bottom: 1px solid #EEE;
}
/*---NAVIGATION START---*/
.navigation{
    display: flex;
}
.navigation__item a  {
    font-size: 14px;
    color: var(--none_black);
    font-weight: 500;
    letter-spacing: 0.28px;   
    
}

.navigation__item:not(:last-child) {
    margin-right: 50px;
}

.navigation__item a:hover{
    color: var(--sec_color);
}
.navigation__item a:focus{
    color:var(--sec_color);
}

.mail:hover{
    color:var(--sec_color);
}
.mail:focus{
    color:var(--sec_color);
}
.tel:focus{
    color:var(--sec_color);
}
.tel:hover{
    color:var(--sec_color);
}

.contacts{
    margin-left: auto;
    display: flex;
    
}

.contacts__item:not(:last-child) {
    margin-right: 40px;
}


.mail{
    font-size: 14px;
    text-decoration: none;    
    color: var(--grey);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
}

.tel{
    font-size: 14px;
    text-decoration: none;
    color: var(--grey);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
}

.header > .container{
    display: flex;
    align-items: center;
    height: auto;
    flex-shrink: 0;
    min-height: 80px;
}

.header__logo {
    margin-right: 90px;
    color: var(--black);
font-family: Raleway;
font-size: 26px;
font-weight: 700;
letter-spacing: 0.78px;
text-decoration: none;
}
.header__logo span{
    color: var(--sec_color);
font-family: 'Raleway' , sans-serif;
font-size: 26px;
font-weight: 700;
letter-spacing: 0.78px;
}
/*---NAVIGATION END---*/

.header__hello{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    background: var(--basic_color);
    row-gap: 30px;
    min-height: 600px;
    
}

.info__text{
    max-width: 696px;
    font-size: 44px;
    font-weight: 900;
    line-height: 136.364%;
    color: var(--white);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2.64px;
  
}
.info__btn{
    color: var(--white);
    font-size: 16px;
    font-weight: 700;
    line-height: 187%;
    letter-spacing: 0.96px;
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    flex-shrink: 0;
    min-height: 50px;
    padding: 10px 24px;
}

.info__btn:hover{
    border: var(--sec_color);
}

.info__btn:focus{
    border: var(--sec_color) 2px;
}
/*-----HEADER end------*/

/*-----ABOUT start------*/
.about{
    padding-top: 94px;
}

.about__list{
    display: flex;
    gap: 30px;
}
.about__h{
    color: var(--none_black);

    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    max-width: 270px;
}

.about__text{
    color: var(--grey);
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.42px;
    max-width: 270px;
}
/*-----ABOUT end------*/

/*-----WORK start------*/

.work{
    padding-top: 94px;
    padding-bottom: 94px;
    
}
.work__list{
    margin-top: 50px;
    display: flex;
    gap: 30px;
}



/*-----WORK end------*/

/*-----STAFF start------*/


.staff{
    background: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;

}

.staff__list{
    display: flex;
    
}

.stafftext{
    margin-bottom: 50px;
}
.staff__item{
    border-radius: 0px 0px 4px 4px;
    background: #FFF;
    
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.staff__item:not(:last-child)
{
    margin-right: 30px
}

.work__text , .stafftext {
    color: var(--none_black);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
}

.staff__desc{
    
    padding: 30px;
}

.staff__name{
    width: 100%;
    color: var(--none_black);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;
}

.staff__job{
    color: var(--grey);
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.48px;
}
/*-----STAFF end------*/

/*-----FOOTER start------*/
.footer__info{
    width: 100%;
    padding: 60px 0;
    flex-direction: column;
    height: auto;
    flex-shrink: 0;
    background: #2F303A;
    min-height: 251px;
}

.footer__link{
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer__email{
    color: rgba(255, 255, 255, 0.60);

}

.footer__tel{
    color: rgba(255, 255, 255, 0.60);

}


.footer__logo{
    color: var(--white);
    font-family: 'Raleway' , sans-serif;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
    text-decoration: none;
}

.footer__logo span{
    color: var(--sec_color);
    font-family: 'Raleway' , sans-serif;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
}
/*-----FOOTER end------*/


/*-----PORTFOLIO-----*/

/*----FILTERS start*/

.filters{
    padding-top: 94px;
}

.filters__list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.filters__item button.filters__button {
    color: #212121;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 162%;
    letter-spacing: 0.48px;
    border-radius: 4px;
    background: #F5F4FA;
    border-style: none;
    height: auto;
    flex-shrink: 0;
    padding: 6px 22px;
}

.filters__item button.filters__button:hover{
    color: var(--white);
    border-radius: 4px;
    background: var(--sec_color);
}

.filters__item button.filters__button:focus{
    color: var(--white);
    border-radius: 4px;
    background: var(--sec_color);
}
/*----FILTERS end*/

/*----GRID start----*/

.portfolios{
    padding-top: 50px;
}

.portfolios__list{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 370px);
    grid-template-rows: repeat(3, 1fr);
}

.portfolios-item{
    border: 1px solid #EEE;
}
.portfolios__name{
    color: var(--none_black);
    font-size: 18px;
    font-weight: 700;
    line-height: 200%;
    letter-spacing: 1.08px;
    width: 322px;
    padding-left: 24px;
}

.portfolios__desc{
    color: var(--grey);
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.48px;
    width: 322px;
    padding-left: 24px;
}




/*----GRID end----*/

